/********RESET*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*BASIC STYLE*/

* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
     
     
}

body {
	color: white;
	font-size: 15px;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}



/*****HEADER******/

body {
    margin: 0;
    
    background-color: #f4f4f4;
  }
  
  a {
    color:white;
  }
  
  /* header */
  
  .header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #0f0101;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 70em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  


/***MAIN***/

 .homescreen {
    background: url(../images/roma4.jpg);
    width: 100%;
    background-size: cover;
    height: 1000px;
    padding-top: 300px;
	
} 


.homescreen .address {
  font-size: 25px;   
  margin: 0;
  padding: 0;
  text-align: center;
}

.homescreen .options {
	margin: 0;
  padding: 0;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

/* .homescreen ul {
    margin: 50px 300px 50px 350px;
    padding-left: 100px;
} */

.homescreen li {
    display: inline;
    margin: 0.3em;
    
}

.homescreen li a {
    color: aliceblue;
}



 /** #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } **/

  
  /***FOOTER***/
   .footer {
    height: 50px;
    width: 100%;
    background:rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;
   }

   .footer .footer-title {
       float: left;
       margin-top: 10px;
       color: black;
   }

   .footer .copyright {
       float: right;
    margin-top: 10px;
    color: black;
   }



   